/** Stylus Styles */

@import '../../node_modules/vuetify/src/stylus/main'
#vlistStyle {
	height: 60px;
}
#inspire {
	padding-left: 221px;
}
#profileLocation {
	padding-top: 6px;
}
#dialogLocation {
	margin-right: 100px;
}
#logoSize {
	width: 200px;
	height: 100px;
}
#logoLocation{
	margin-left: 33%;
}